<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<table class="table-condensed" align="center" >
    <thead>
    <th>Eno</th>
    <th>Ename</th>
    <th>Esal</th>
    <th>Email</th>
    <th>Address</th>
    <th>operation1</th>
    <th>operation2</th>
    </thead>
    {% for i in employee_list %}
    <tr>
        <td>{{i.eno}}</td>
        <td>{{i.ename}}</td>
        <td>{{i.esal}}</td>
        <td>{{i.eemail}}</td>
        <td>{{i.eaddress}}</td>
        <td><a href="/update/{{i.id}}">Update</a> </td>
        <td><a href="/delete/{{i.id}}">Delete</a> </td>
    </tr>
    {% endfor %}
</table>
<a href="/add" align = "center">Add New Record</a>
</body>
</html>