<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="height: 30%; width: 50%">
    <div class="jumbotron">
        <h3 align="center">Add Employee Details</h3><hr>
        <form method="post">
            {% csrf_token %}
            {{emp_frm.as_p}}
            <input align="center" type="submit" value="save">
        </form>
    </div>
</div>
</body>
</html>