<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<div align="center" class="table">
    <table>
        <h1><a href="/add">Add Record</a> </h1><br>
        <h1><a href="/update">Update Record</a> </h1><br>
        <h1><a href="/delete">Delete Record</a> </h1><br>
        <h1><a href="">Find Record</a> </h1><br>
        <h1><a href="/findall">Find All Record</a> </h1>
    </table>
</div>

</body>
</html>